<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/95D896C9-38D4-AE4B-BB0F-6B6759D221C8/main.js" charset="UTF-8"></script></head>
  <body background="/static/back2.jpg" >
     <div class="jumbotron">
  <h1 class="display-4">Welcome to the world of Tourism!!</h1>
    </div>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
          
    </ul>
    <ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="/signup">Sign-up</a>
  </li>
  
</ul>
  </div>
</nav>
  <form action="" method="post" align="center">
<div  class="center" >
<img src="/static/login.png" width="10%">
<h1>LOGIN</h1>

{{form.email.label}}
{{ form.email }}
{{form.password.label}}
{{form.password}}
{{form.submit.label}}
{{form.submit}}

<!--<label for="uname"><f1><b>Email-id</b></f1></label><br>
<input type="text" placeholder="Enter email-id" name="uname" required><br><br>
<label for="psw"><f1><b>Password</b></f1></label><br>
<input type="password" placeholder="Enter Password" name="psw" required><br><br>
<button type="submit" name="submit"><b><f2>Login</f2></b></button>
<button type="reset" name="reset"><b><f2>Reset</f2></b></button><br>
<label>
<input type="checkbox" checked="checked" name="remember"><i><b> Remember me</b></i><br><br>
<label>
</div>
</label>-->
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>