<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script type="text/javascript"
    src="https://gc.kis.v2.scr.kaspersky-labs.com/95D896C9-38D4-AE4B-BB0F-6B6759D221C8/main.js"
    charset="UTF-8"></script>
</head>

<body background="/static/back2.jpg">
  <style type="text/css">


  </style>

  <div class="jumbotron">
    <h1 class="display-4">Welcome to the world of Tourism!!</h1>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/booking">Book A Trip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/currentbookings">View Current Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">User</a>
            <a class="dropdown-item" href="/login">Admin</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign-up</a>
        </li>

      </ul>
    </div>
  </nav>
  <form action="" method="post" align="center">
    <div class="center">
      <img src="/static/signup.jpg" width="10%">
      <br><br><br>
      {{form.name.label}}
      {{form.name}}
      {{form.contact.label}}
      {{form.contact}}<br><br>
      {{form.address.label}}
      {{form.address}}
      {{form.age.label}}
      {{form.age}}<br><br>
      {{form.email.label}}
      {{form.email}}<br><br>
      {{form.password.label}}
      {{form.password}}
      {{form.confirm_password.label}}
      {{form.confirm_password}}<br><br>
      {{form.submit.label}}
      {{form.submit}}<br><br>
      <!--<label for="uname"><f1><b>Name</b></f1></label><br>
<input type="text" placeholder="Enter Name" name="name" required><br>
<label for="uname"><f1><b>Contact</b></f1></label><br>
<input type="text" placeholder="Enter Contact" name="contact" required><br>
<label for="uname"><f1><b>Address</b></f1></label><br>
<input type="text" placeholder="Enter Address" name="address" required><br>
<label for="uname"><f1><b>Age</b></f1></label><br>
<input type="text" placeholder="Enter Age" name="age" required><br>
<label for="uname"><f1><b>Email</b></f1></label><br>
<input type="email" placeholder="Enter email-id" name="email" required><br>
<label for="psw"><f1><b>Password</b></f1></label><br>
<input type="password" placeholder="Enter Password" name="password" required><br>
<label for="psw"><f1><b>Confirm Password</b></f1></label><br>
<input type="password" placeholder="Re-enter Password" name="password" required><br><br>
<button type="submit" name="submit" value="Sign-up"><b><f2>Sign-up</f2></b></button>
</div>-->
  </form>
  <div class="border-top pt-3" align="center">
    <small class="text-muted">
      Already Have An Account? <a class="ml-2" href="/login"> Sign-in</a>
    </small>
  </div>
  <div class="footer"> </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>